# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/Backend/target

### IntelliJ IDEA ###
.idea
*.iws
*.ipr

# 删去对.iml文件的忽略，使得重新拉取时不会出现模块无法识别的情况